
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
            <link rel="stylesheet" href="/css/bootstrap-datepicker3.standalone.css">
            <link rel="stylesheet" href="/css/jquery-ui.min.css">
    </head>
    <body>
        <div>TODO write content</div>
    </body>
                <script src="/vendors/js/jquery.min.js"></script>
                <script src="/vendors/js/popper.min.js"></script>
                <script src="/vendors/js/bootstrap.min.js"></script>
</html>
