<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="vendors/img/favicon.png">
    <title>Sistema e-titulos</title>
    <!-- Icons -->
    <link href="/vendors/css/font-awesome.min.css" rel="stylesheet">
    <link href="/vendors/css/simple-line-icons.min.css" rel="stylesheet">
    <!-- Main styles for this application -->
    <link href="/vendors/css/style.css" rel="stylesheet">
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    <header class="app-header navbar" th:replace="plantilla :: header">
        
    </header>

    <div class="app-body" id="app" >
                 
         <div th:replace="plantilla :: menu"></div>
         
          <main class="main">
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item"><a href="#">titulos</a></li>
                
            </ol>
            <div class="container-fluid">
                <!-- Ejemplo de tabla Listado -->
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> 
                        
                        <a class="btn btn-secondary" th:href="@{/titulo/agregar}"> 
                            <i class="icon-plus"></i>&nbsp;Nuevo
                        </a>
                        
                        
                    </div>
                    <div class="card-body">
                        <form method="POST" th:action="@{/titulo/buscador/}" >
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <select class="form-control col-md-3" id="opcion" name="opcion">
                                      <option value="nombre">Nombre</option>
                                      <option value="curp">curp</option>
                                    </select>
                                    <input type="text" id="texto" name="texto" class="form-control" placeholder="Texto a buscar">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                </div>
                            </div>
                        </div>
                        </form>
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ID</th>
                                    <th>Curp</th>
                                    <th>Nombre</th>
                                    <th>Fecha terminacion</th>
                                    <th>Carrera</th>
                                    <th>lote</th>
                                    <th>correo/error</th>
                                    <th>firmas</th>
                                    <th>XML</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr  th:each="titulo : ${titulo}">
                                    <td>
                                        
                                        <a class="btn btn-warning btn-sm" th:href="@{/titulo/editar/} + ${titulo.idtitulo}" >
                                            <span class="icon-pencil"></span>
                                        </a>
                                       
                                    </td>
                                    <td th:text="${titulo.idtitulo}"></td>
                                    <td th:text="${titulo.curp}"></td>
                                    <td th:text="${titulo.getNombreCompleto()}"></td>
                                    <td th:text="${titulo.fechaterminacion}"></td>
                                    <td th:text="${titulo.institucioncarrera?.carrera?.nombre_carrera}"></td>
                                    <td th:text="${titulo.lote}"></td>
                                    <td th:text="${titulo.correoelectronico}" ></td>
                                    <td>   
                                        <a sec:authorize="hasRole('SIGN')" class="btn btn-success btn-sm fa fa-pencil" th:href="@{/titulo/firmar/} + ${titulo.idtitulo}" >
                                            <span class=""></span>
                                        </a>
                                        <ul th:each="firmatitulo : ${titulo.firmatitulo}">
                                            <li th:text="${firmatitulo.usuario.nombre}" ></li>
                                           
                                        </ul>

                                       
                                    </td>
                                    <td >
                                        
                                          <a th:if="!${titulo.nombrexmlenvio} and ${titulo.lote}!=0" class="btn btn-success btn-sm fa fa-code" th:href="@{/titulo/xml/} + ${titulo.idtitulo}" >
                                            <span class=""></span>
                                        </a>
                                         <a th:if="${titulo.nombrexmlenvio} " class="btn btn-danger btn-sm fa fa-code" th:href="@{/titulo/xmlBorrar/} + ${titulo.idtitulo}" >
                                            <span class=""></span>
                                        </a>
                                          <a th:if="${titulo.lote}!=0" class="btn btn-success btn-sm fa fa-file-pdf-o" th:href="@{/titulo/pdf/} + ${titulo.idtitulo}" >
                                            <span class=""></span>
                                        </a>
                                        
                                        <a th:href="@{/titulo/descarga/} + ${titulo.idtitulo}"><span th:text="${titulo.nombrexmlenvio}" ></span></a>
                                         <a th:if="!${titulo.nombrexmlenvio}"  class="btn btn-danger btn-sm icon-trash" th:href="@{/titulo/eliminar(idtitulo=${titulo.idtitulo})}" />
                                          <span class=""></span>
                                         </a>
                                    </td>
                                    
                                </tr>
                                
                            </tbody>
                        </table>
                        
                    </div>
                </div>
                <!-- Fin ejemplo de tabla Listado -->
            </div>
           
        </main>
        <!-- /Fin del contenido principal -->
         
    </div>

    
 <footer th:replace="plantilla :: footer"></footer>
   
</body>

</html>